<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">

    <!--<import resource="spring-rabbitmq-consumer.xml"/>-->
    <!--<import resource="spring-rabbitmq-producer.xml"/>-->
    <bean id="applicationContextHolder" class="cc.lee.spring.ApplicationContextHolder" lazy-init="false"/>
    <bean id="helloService" class="cc.lee.spring.HelloServiceImpl"/>
</beans>